body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #c51c1c, #764ba2);
}

.mb-0{
    margin-bottom: 0 !important;
}

.mt-0{
    margin-top: 0 !important;
}

.ms-0{
    margin-left: 0 !important;
}

.me-0{
    margin-right: 0 !important;
}

.mx-0{
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.my-0{
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.pb-0{
    padding-bottom: 0 !important;
}

.pt-0{
    padding-top: 0 !important;
}

.ps-0{
    padding-left: 0 !important;
}

.pe-0{
    padding-right: 0 !important;
}

.px-0{
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.py-0{
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.container {
    background: white;
    padding: 30px;
    width: 350px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

.todo-header h1 {
    margin: 0;
    text-align: center;
}

.todo-header p {
    text-align: center;
    color: gray;
    font-size: 14px;
}

.input-group {
    display: flex;
    margin-top: 20px;
}

.input-group input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 6px 0 0 6px;
    outline: none;
}

.input-group button {
    padding: 10px 15px;
    border: none;
    background: #667eea;
    color: white;
    cursor: pointer;
    border-radius: 0 6px 6px 0;
}

.input-group button:hover {
    background: #5a67d8;
}

#taskList {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}